<a href="https://colab.research.google.com/github/ancestor9/2025_Spring_Data-Management/blob/main/week_13/04_missing_value_imputation_Consumer_Behavior_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: 내 드라이브를 마운트(mount) 하라

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/data/processed_df.pkl'
import pandas as pd
df = pd.read_pickle(file_path)

df

,성별,연령,지역,직업,소득,학력,주거형태,결혼여부,자녀수,평일인터넷,...,토요일모바일,일요일모바일,TV장르1,TV장르2,TV장르3,TV장르4,국드장르1,국드장르2,PPL구입여부,year
0,남,14,서울,학생(재수생포함),549.500000,중학교 재학,자가,미혼,NaN,180.0,...,30.0,30.0,음악/공연/오디션,스포츠/골프,예능/오락,어린이/만화,NaN,NaN,있다,2018
1,남,14,서울,학생(재수생포함),749.500000,중학교 재학,자가,미혼,NaN,NaN,...,30.0,60.0,국내 드라마,영화,예능/오락,음악/공연/오디션,가족 드라마,정통사극,없다,2018
2,남,14,서울,학생(재수생포함),549.500000,중학교 재학,자가,미혼,NaN,0.0,...,180.0,120.0,국내 드라마,예능/오락,음악/공연/오디션,NaN,형사/추리/법정 드라마,NaN,없다,2018
3,남,14,서울,학생(재수생포함),749.500000,중학교 재학,전세,미혼,NaN,90.0,...,120.0,120.0,국내 드라마,영화,예능/오락,음악/공연/오디션,로맨스 드라마,멜로 드라마,있다,2018
4,남,14,서울,학생(재수생포함),549.500000,중학교 재학,자가,미혼,NaN,60.0,...,60.0,60.0,해외 드라마,예능/오락,교육,NaN,NaN,NaN,없다,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,여,58,광주/전라/제주,기능/노무직,336.668937,중학교 졸업,자가,기타(이혼/별거/사별),2명,NaN,...,60.0,60.0,뉴스/보도,교양/생활정보,시사/토론,국내 드라마,로맨스 드라마,멜로 드라마,있다,2019
7996,여,63,광주/전라/제주,전업주부,649.500000,고등학교 졸업,자가,기혼,2명,NaN,...,30.0,30.0,국내 드라마,예능/오락,NaN,NaN,로맨스 드라마,멜로 드라마,없다,2019
7997,여,61,광주/전라/제주,기능/노무직,349.500000,중학교 졸업,전세,기혼,1명,NaN,...,30.0,30.0,뉴스/보도,국내 드라마,영화,예능/오락,로맨스 드라마,멜로 드라마,없다,2019
7998,여,67,광주/전라/제주,기능/노무직,149.500000,중학교 졸업,자가,기타(이혼/별거/사별),2명,NaN,...,30.0,30.0,뉴스/보도,국내 드라마,예능/오락,NaN,로맨스 드라마,멜로 드라마,없다,2019
7999,여,65,광주/전라/제주,전업주부,349.500000,고등학교 졸업,자가,기혼,3명 이상,NaN,...,60.0,60.0,국내 드라마,예능/오락,NaN,NaN,로맨스 드라마,멜로 드라마,없다,2019

In [ ]:
# prompt: df의 모든 컬럼의 데이터형태, 고유값, 결측치 개수와 비율, 각 컬럼의 10개의 값을 보여주라. 데이터프레임 형태로 간단하게

import pandas as pd

def df_info(df):
    info_dict = {
        'column': [],
        'dtype': [],
        'unique_values': [],
        'missing_count': [],
        'missing_ratio': [],
        'first_10_values': []
    }

    for col in df.columns:
      info_dict['column'].append(col)
      info_dict['dtype'].append(df[col].dtype)
      info_dict['unique_values'].append(df[col].nunique())
      missing_count = df[col].isnull().sum()
      info_dict['missing_count'].append(missing_count)
      info_dict['missing_ratio'].append(missing_count / len(df) * 100)
      info_dict['first_10_values'].append(df[col].unique()[:10].tolist())

    return pd.DataFrame(info_dict)

df_info(df)

,column,dtype,unique_values,missing_count,missing_ratio,first_10_values
0,성별,category,2,0,0.0000,"[남, 여]"
1,연령,category,57,0,0.0000,"[14, 16, 19, 15, 18, 17, 24, 22, 20, 23]"
2,지역,category,7,0,0.0000,"[서울, 부산/울산/경남, 대구/경북, 경기/인천, 광주/전라/제주, 대전/충청/세..."
3,직업,category,7,0,0.0000,"[학생(재수생포함), 무직/기타, 판매/서비스직, 기능/노무직, 사무직, 행정관리/..."
4,소득,float64,19,0,0.0000,"[549.5, 749.5, 449.5, 649.5, 349.5, 949.5, 100..."
5,학력,category,12,0,0.0000,"[중학교 재학, 고등학교 재학, 대학교 재학, 고등학교 졸업, 중학교 졸업, 초등학..."
6,주거형태,category,5,0,0.0000,"[자가, 전세, 월세, 사택/기타, 영구임대]"
7,결혼여부,category,3,0,0.0000,"[미혼, 기혼, 기타(이혼/별거/사별)]"
8,자녀수,object,4,3023,37.7875,"[nan, 1명, 2명, 3명 이상, 무응답]"
9,평일인터넷,category,44,2840,35.5000,"[180.0, nan, 0.0, 90.0, 60.0, 120.0, 300.0, 30..."
10,토요일인터넷,category,40,2840,35.5000,"[180.0, nan, 30.0, 90.0, 120.0, 240.0, 60.0, 2..."
11,일요일인터넷,category,36,2840,35.5000,"[180.0, nan, 0.0, 90.0, 120.0, 240.0, 60.0, 30..."
12,평일모바일,category,49,385,4.8125,"[30.0, 120.0, 90.0, 60.0, nan, 300.0, 180.0, 2..."
13,토요일모바일,category,53,385,4.8125,"[30.0, 180.0, 120.0, 60.0, 150.0, nan, 300.0, ..."
14,일요일모바일,category,57,385,4.8125,"[30.0, 60.0, 120.0, 180.0, nan, 0.0, 90.0, 300..."
15,TV장르1,category,12,1,0.0125,"[음악/공연/오디션, 국내 드라마, 해외 드라마, 예능/오락, 영화, 뉴스/보도, ..."
16,TV장르2,category,16,252,3.1500,"[스포츠/골프, 영화, 예능/오락, 게임, 음악/공연/오디션, nan, 교양/생활정..."
17,TV장르3,category,16,1115,13.9375,"[예능/오락, 음악/공연/오디션, 교육, nan, 스포츠/골프, 시사/토론, 다큐멘..."
18,TV장르4,category,16,2892,36.1500,"[어린이/만화, 음악/공연/오디션, nan, 스포츠/골프, 국내 드라마, 다큐멘터리..."
19,국드장르1,category,21,2079,25.9875,"[nan, 가족 드라마, 형사/추리/법정 드라마, 로맨스 드라마, 특별히 즐겨보는 ..."
20,국드장르2,category,21,3038,37.9750,"[nan, 정통사극, 멜로 드라마, 스포츠 드라마, 의학/메디컬 드라마, 가족 드라..."
21,PPL구입여부,object,2,0,0.0000,"[있다, 없다]"
22,year,category,2,0,0.0000,"[2018, 2019]"

In [ ]:
# prompt: 자녀수의 결측치와  무응답을 자녀수의 최빈값으로 대체하는 코드

# Fill missing values and "무응답" in '자녀수' with the mode
df['자녀수'] = df['자녀수'].fillna(df['자녀수'].mode()[0])
df['자녀수'] = df['자녀수'].replace('무응답', df['자녀수'].mode()[0])

In [ ]:
df_info(df)

,column,dtype,unique_values,missing_count,missing_ratio,first_10_values
0,성별,category,2,0,0.0000,"[남, 여]"
1,연령,category,57,0,0.0000,"[14, 16, 19, 15, 18, 17, 24, 22, 20, 23]"
2,지역,category,7,0,0.0000,"[서울, 부산/울산/경남, 대구/경북, 경기/인천, 광주/전라/제주, 대전/충청/세..."
3,직업,category,7,0,0.0000,"[학생(재수생포함), 무직/기타, 판매/서비스직, 기능/노무직, 사무직, 행정관리/..."
4,소득,float64,19,0,0.0000,"[549.5, 749.5, 449.5, 649.5, 349.5, 949.5, 100..."
5,학력,category,12,0,0.0000,"[중학교 재학, 고등학교 재학, 대학교 재학, 고등학교 졸업, 중학교 졸업, 초등학..."
6,주거형태,category,5,0,0.0000,"[자가, 전세, 월세, 사택/기타, 영구임대]"
7,결혼여부,category,3,0,0.0000,"[미혼, 기혼, 기타(이혼/별거/사별)]"
8,자녀수,object,3,0,0.0000,"[2명, 1명, 3명 이상]"
9,평일인터넷,category,44,2840,35.5000,"[180.0, nan, 0.0, 90.0, 60.0, 120.0, 300.0, 30..."
10,토요일인터넷,category,40,2840,35.5000,"[180.0, nan, 30.0, 90.0, 120.0, 240.0, 60.0, 2..."
11,일요일인터넷,category,36,2840,35.5000,"[180.0, nan, 0.0, 90.0, 120.0, 240.0, 60.0, 30..."
12,평일모바일,category,49,385,4.8125,"[30.0, 120.0, 90.0, 60.0, nan, 300.0, 180.0, 2..."
13,토요일모바일,category,53,385,4.8125,"[30.0, 180.0, 120.0, 60.0, 150.0, nan, 300.0, ..."
14,일요일모바일,category,57,385,4.8125,"[30.0, 60.0, 120.0, 180.0, nan, 0.0, 90.0, 300..."
15,TV장르1,category,12,1,0.0125,"[음악/공연/오디션, 국내 드라마, 해외 드라마, 예능/오락, 영화, 뉴스/보도, ..."
16,TV장르2,category,16,252,3.1500,"[스포츠/골프, 영화, 예능/오락, 게임, 음악/공연/오디션, nan, 교양/생활정..."
17,TV장르3,category,16,1115,13.9375,"[예능/오락, 음악/공연/오디션, 교육, nan, 스포츠/골프, 시사/토론, 다큐멘..."
18,TV장르4,category,16,2892,36.1500,"[어린이/만화, 음악/공연/오디션, nan, 스포츠/골프, 국내 드라마, 다큐멘터리..."
19,국드장르1,category,21,2079,25.9875,"[nan, 가족 드라마, 형사/추리/법정 드라마, 로맨스 드라마, 특별히 즐겨보는 ..."
20,국드장르2,category,21,3038,37.9750,"[nan, 정통사극, 멜로 드라마, 스포츠 드라마, 의학/메디컬 드라마, 가족 드라..."
21,PPL구입여부,object,2,0,0.0000,"[있다, 없다]"
22,year,category,2,0,0.0000,"[2018, 2019]"

In [ ]:
# prompt: 결측치가 있는 모든 컬럼은 최빈값으로 대체하라

for col in df.columns:
  if df[col].isnull().any():
    mode_val = df[col].mode()[0]
    df[col] = df[col].fillna(mode_val)

df_info(df)

,column,dtype,unique_values,missing_count,missing_ratio,first_10_values
0,성별,category,2,0,0.0,"[남, 여]"
1,연령,category,57,0,0.0,"[14, 16, 19, 15, 18, 17, 24, 22, 20, 23]"
2,지역,category,7,0,0.0,"[서울, 부산/울산/경남, 대구/경북, 경기/인천, 광주/전라/제주, 대전/충청/세..."
3,직업,category,7,0,0.0,"[학생(재수생포함), 무직/기타, 판매/서비스직, 기능/노무직, 사무직, 행정관리/..."
4,소득,float64,19,0,0.0,"[549.5, 749.5, 449.5, 649.5, 349.5, 949.5, 100..."
5,학력,category,12,0,0.0,"[중학교 재학, 고등학교 재학, 대학교 재학, 고등학교 졸업, 중학교 졸업, 초등학..."
6,주거형태,category,5,0,0.0,"[자가, 전세, 월세, 사택/기타, 영구임대]"
7,결혼여부,category,3,0,0.0,"[미혼, 기혼, 기타(이혼/별거/사별)]"
8,자녀수,object,3,0,0.0,"[2명, 1명, 3명 이상]"
9,평일인터넷,category,44,0,0.0,"[180.0, 60.0, 0.0, 90.0, 120.0, 300.0, 30.0, 1..."
10,토요일인터넷,category,40,0,0.0,"[180.0, 60.0, 30.0, 90.0, 120.0, 240.0, 210.0,..."
11,일요일인터넷,category,36,0,0.0,"[180.0, 0.0, 90.0, 120.0, 240.0, 60.0, 30.0, 2..."
12,평일모바일,category,49,0,0.0,"[30.0, 120.0, 90.0, 60.0, 300.0, 180.0, 210.0,..."
13,토요일모바일,category,53,0,0.0,"[30.0, 180.0, 120.0, 60.0, 150.0, 300.0, 240.0..."
14,일요일모바일,category,57,0,0.0,"[30.0, 60.0, 120.0, 180.0, 0.0, 90.0, 300.0, 1..."
15,TV장르1,category,12,0,0.0,"[음악/공연/오디션, 국내 드라마, 해외 드라마, 예능/오락, 영화, 뉴스/보도, ..."
16,TV장르2,category,16,0,0.0,"[스포츠/골프, 영화, 예능/오락, 게임, 음악/공연/오디션, 교양/생활정보, 국내..."
17,TV장르3,category,16,0,0.0,"[예능/오락, 음악/공연/오디션, 교육, 스포츠/골프, 시사/토론, 다큐멘터리, 국..."
18,TV장르4,category,16,0,0.0,"[어린이/만화, 음악/공연/오디션, 예능/오락, 스포츠/골프, 국내 드라마, 다큐멘..."
19,국드장르1,category,21,0,0.0,"[로맨스 드라마, 가족 드라마, 형사/추리/법정 드라마, 특별히 즐겨보는 장르 없음..."
20,국드장르2,category,21,0,0.0,"[멜로 드라마, 정통사극, 스포츠 드라마, 의학/메디컬 드라마, 가족 드라마, 퓨전..."
21,PPL구입여부,object,2,0,0.0,"[있다, 없다]"
22,year,category,2,0,0.0,"[2018, 2019]"

In [ ]:
# prompt: object 형태의 컬럼을 category로 변환

# Check object columns
object_cols = df.select_dtypes(include='object').columns

# Convert object columns to category type
for col in object_cols:
    df[col] = df[col].astype('category')

df_info(df)

,column,dtype,unique_values,missing_count,missing_ratio,first_10_values
0,성별,category,2,0,0.0,"[남, 여]"
1,연령,category,57,0,0.0,"[14, 16, 19, 15, 18, 17, 24, 22, 20, 23]"
2,지역,category,7,0,0.0,"[서울, 부산/울산/경남, 대구/경북, 경기/인천, 광주/전라/제주, 대전/충청/세..."
3,직업,category,7,0,0.0,"[학생(재수생포함), 무직/기타, 판매/서비스직, 기능/노무직, 사무직, 행정관리/..."
4,소득,float64,19,0,0.0,"[549.5, 749.5, 449.5, 649.5, 349.5, 949.5, 100..."
5,학력,category,12,0,0.0,"[중학교 재학, 고등학교 재학, 대학교 재학, 고등학교 졸업, 중학교 졸업, 초등학..."
6,주거형태,category,5,0,0.0,"[자가, 전세, 월세, 사택/기타, 영구임대]"
7,결혼여부,category,3,0,0.0,"[미혼, 기혼, 기타(이혼/별거/사별)]"
8,자녀수,category,3,0,0.0,"[2명, 1명, 3명 이상]"
9,평일인터넷,category,44,0,0.0,"[180.0, 60.0, 0.0, 90.0, 120.0, 300.0, 30.0, 1..."
10,토요일인터넷,category,40,0,0.0,"[180.0, 60.0, 30.0, 90.0, 120.0, 240.0, 210.0,..."
11,일요일인터넷,category,36,0,0.0,"[180.0, 0.0, 90.0, 120.0, 240.0, 60.0, 30.0, 2..."
12,평일모바일,category,49,0,0.0,"[30.0, 120.0, 90.0, 60.0, 300.0, 180.0, 210.0,..."
13,토요일모바일,category,53,0,0.0,"[30.0, 180.0, 120.0, 60.0, 150.0, 300.0, 240.0..."
14,일요일모바일,category,57,0,0.0,"[30.0, 60.0, 120.0, 180.0, 0.0, 90.0, 300.0, 1..."
15,TV장르1,category,12,0,0.0,"[음악/공연/오디션, 국내 드라마, 해외 드라마, 예능/오락, 영화, 뉴스/보도, ..."
16,TV장르2,category,16,0,0.0,"[스포츠/골프, 영화, 예능/오락, 게임, 음악/공연/오디션, 교양/생활정보, 국내..."
17,TV장르3,category,16,0,0.0,"[예능/오락, 음악/공연/오디션, 교육, 스포츠/골프, 시사/토론, 다큐멘터리, 국..."
18,TV장르4,category,16,0,0.0,"[어린이/만화, 음악/공연/오디션, 예능/오락, 스포츠/골프, 국내 드라마, 다큐멘..."
19,국드장르1,category,21,0,0.0,"[로맨스 드라마, 가족 드라마, 형사/추리/법정 드라마, 특별히 즐겨보는 장르 없음..."
20,국드장르2,category,21,0,0.0,"[멜로 드라마, 정통사극, 스포츠 드라마, 의학/메디컬 드라마, 가족 드라마, 퓨전..."
21,PPL구입여부,category,2,0,0.0,"[있다, 없다]"
22,year,category,2,0,0.0,"[2018, 2019]"

In [ ]:
df['PPL구입여부'].map({'있다': 1, '없다': 0}).value_counts()

PPL구입여부
0    6371
1    1629
Name: count, dtype: int64

In [ ]:
# prompt: PPL구입여부의  있다, 없다 값을 1과 0 정수로 변환하라

# Convert 'PPL구입여부' values to numerical representation
df['PPL구입여부'] = df['PPL구입여부'].map({'있다': 1, '없다': 0})

df_info(df)

,column,dtype,unique_values,missing_count,missing_ratio,first_10_values
0,성별,category,2,0,0.0,"[남, 여]"
1,연령,category,57,0,0.0,"[14, 16, 19, 15, 18, 17, 24, 22, 20, 23]"
2,지역,category,7,0,0.0,"[서울, 부산/울산/경남, 대구/경북, 경기/인천, 광주/전라/제주, 대전/충청/세..."
3,직업,category,7,0,0.0,"[학생(재수생포함), 무직/기타, 판매/서비스직, 기능/노무직, 사무직, 행정관리/..."
4,소득,float64,19,0,0.0,"[549.5, 749.5, 449.5, 649.5, 349.5, 949.5, 100..."
5,학력,category,12,0,0.0,"[중학교 재학, 고등학교 재학, 대학교 재학, 고등학교 졸업, 중학교 졸업, 초등학..."
6,주거형태,category,5,0,0.0,"[자가, 전세, 월세, 사택/기타, 영구임대]"
7,결혼여부,category,3,0,0.0,"[미혼, 기혼, 기타(이혼/별거/사별)]"
8,자녀수,category,3,0,0.0,"[2명, 1명, 3명 이상]"
9,평일인터넷,category,44,0,0.0,"[180.0, 60.0, 0.0, 90.0, 120.0, 300.0, 30.0, 1..."
10,토요일인터넷,category,40,0,0.0,"[180.0, 60.0, 30.0, 90.0, 120.0, 240.0, 210.0,..."
11,일요일인터넷,category,36,0,0.0,"[180.0, 0.0, 90.0, 120.0, 240.0, 60.0, 30.0, 2..."
12,평일모바일,category,49,0,0.0,"[30.0, 120.0, 90.0, 60.0, 300.0, 180.0, 210.0,..."
13,토요일모바일,category,53,0,0.0,"[30.0, 180.0, 120.0, 60.0, 150.0, 300.0, 240.0..."
14,일요일모바일,category,57,0,0.0,"[30.0, 60.0, 120.0, 180.0, 0.0, 90.0, 300.0, 1..."
15,TV장르1,category,12,0,0.0,"[음악/공연/오디션, 국내 드라마, 해외 드라마, 예능/오락, 영화, 뉴스/보도, ..."
16,TV장르2,category,16,0,0.0,"[스포츠/골프, 영화, 예능/오락, 게임, 음악/공연/오디션, 교양/생활정보, 국내..."
17,TV장르3,category,16,0,0.0,"[예능/오락, 음악/공연/오디션, 교육, 스포츠/골프, 시사/토론, 다큐멘터리, 국..."
18,TV장르4,category,16,0,0.0,"[어린이/만화, 음악/공연/오디션, 예능/오락, 스포츠/골프, 국내 드라마, 다큐멘..."
19,국드장르1,category,21,0,0.0,"[로맨스 드라마, 가족 드라마, 형사/추리/법정 드라마, 특별히 즐겨보는 장르 없음..."
20,국드장르2,category,21,0,0.0,"[멜로 드라마, 정통사극, 스포츠 드라마, 의학/메디컬 드라마, 가족 드라마, 퓨전..."
21,PPL구입여부,category,2,0,0.0,"[1, 0]"
22,year,category,2,0,0.0,"[2018, 2019]"

In [ ]:
# prompt: 남자와 여자 구분에 따른 구매여부를 2줄 코드로

import pandas as pd

# Assuming 'df' is your DataFrame and it has columns '성별' and 'PPL구입여부'
purchase_by_gender = df.groupby('성별')['PPL구입여부'].value_counts(normalize=True) * 100
purchase_by_gender

<ipython-input-10-9c02ea8a2908>:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  purchase_by_gender = df.groupby('성별')['PPL구입여부'].value_counts(normalize=True) * 100

성별  PPL구입여부
남   0          83.296159
    1          16.703841
여   0          75.914250
    1          24.085750
Name: proportion, dtype: float64

In [ ]:
df_info(df)['column'].tolist()[:9]

['성별', '연령', '지역', '직업', '소득', '학력', '주거형태', '결혼여부', '자녀수']

In [ ]:
for col in df_info(df)['column'].tolist()[:9]:
    print(col)
    display(df.groupby(col)['PPL구입여부'].value_counts(normalize=True) * 100)

성별

<ipython-input-12-68084c1932bd>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df.groupby(col)['PPL구입여부'].value_counts(normalize=True) * 100)

성별  PPL구입여부
남   0          83.296159
    1          16.703841
여   0          75.914250
    1          24.085750
Name: proportion, dtype: float64

연령

<ipython-input-12-68084c1932bd>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df.groupby(col)['PPL구입여부'].value_counts(normalize=True) * 100)

연령  PPL구입여부
13  0          78.787879
    1          21.212121
14  0          77.777778
    1          22.222222
15  0          78.431373
                 ...
67  1          10.937500
68  0          89.062500
    1          10.937500
69  0          93.103448
    1           6.896552
Name: proportion, Length: 114, dtype: float64

지역

<ipython-input-12-68084c1932bd>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df.groupby(col)['PPL구입여부'].value_counts(normalize=True) * 100)

지역        PPL구입여부
강원        0          83.888889
          1          16.111111
경기/인천     0          82.681992
          1          17.318008
광주/전라/제주  0          89.866667
          1          10.133333
대구/경북     0          77.941176
          1          22.058824
대전/충청/세종  0          68.823529
          1          31.176471
부산/울산/경남  0          74.590164
          1          25.409836
서울        0          78.723404
          1          21.276596
Name: proportion, dtype: float64

직업

<ipython-input-12-68084c1932bd>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df.groupby(col)['PPL구입여부'].value_counts(normalize=True) * 100)

직업         PPL구입여부
기능/노무직     0          86.025545
           1          13.974455
무직/기타      0          82.212581
           1          17.787419
사무직        0          76.038576
           1          23.961424
전업주부       0          78.818112
           1          21.181888
판매/서비스직    0          80.812791
           1          19.187209
학생(재수생포함)  0          74.698795
           1          25.301205
행정관리/전문직   0          82.918149
           1          17.081851
Name: proportion, dtype: float64

소득

소득           PPL구입여부
149.500000   0           81.343284
             1           18.656716
249.500000   0           80.053191
             1           19.946809
278.761905   0           92.307692
             1            7.692308
336.668937   0           80.952381
             1           19.047619
349.500000   0           81.302170
             1           18.697830
449.500000   0           79.501916
             1           20.498084
461.233962   0           92.105263
             1            7.894737
503.910256   0           71.428571
             1           28.571429
521.930147   0          100.000000
             1            0.000000
549.500000   0           80.221519
             1           19.778481
557.396376   0           76.923077
             1           23.076923
576.508902   0           83.333333
             1           16.666667
626.530000   0          100.000000
             1            0.000000
649.500000   0           77.249224
             1           22.750776
657.930168   0          100.000000
             1            0.000000
749.500000   0           75.992780
             1           24.007220
849.500000   0           81.012658
             1           18.987342
949.500000   0           76.851852
             1           23.148148
1000.000000  0           78.238342
             1           21.761658
Name: proportion, dtype: float64

학력

<ipython-input-12-68084c1932bd>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df.groupby(col)['PPL구입여부'].value_counts(normalize=True) * 100)

학력       PPL구입여부
고등학교 재학  0          75.637394
         1          24.362606
고등학교 졸업  0          84.049774
         1          15.950226
대학교 재학   0          74.035608
         1          25.964392
대학교 졸업   0          77.198697
         1          22.801303
대학원 재학   0          78.000000
         1          22.000000
대학원 졸업   0          84.916201
         1          15.083799
전문대학 재학  0          80.769231
         1          19.230769
전문대학 졸업  0          75.473802
         1          24.526198
정규교육 없음  0          88.888889
         1          11.111111
중학교 재학   0          78.021978
         1          21.978022
중학교 졸업   0          86.413043
         1          13.586957
초등학교 졸업  0          82.539683
         1          17.460317
Name: proportion, dtype: float64

주거형태

<ipython-input-12-68084c1932bd>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df.groupby(col)['PPL구입여부'].value_counts(normalize=True) * 100)

주거형태   PPL구입여부
사택/기타  0          83.333333
       1          16.666667
영구임대   0          83.783784
       1          16.216216
월세     0          74.729242
       1          25.270758
자가     0          80.652455
       1          19.347545
전세     0          76.151762
       1          23.848238
Name: proportion, dtype: float64

결혼여부

<ipython-input-12-68084c1932bd>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df.groupby(col)['PPL구입여부'].value_counts(normalize=True) * 100)

결혼여부          PPL구입여부
기타(이혼/별거/사별)  0          90.909091
              1           9.090909
기혼            0          81.798246
              1          18.201754
미혼            0          74.558824
              1          25.441176
Name: proportion, dtype: float64

자녀수

<ipython-input-12-68084c1932bd>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df.groupby(col)['PPL구입여부'].value_counts(normalize=True) * 100)

자녀수    PPL구입여부
1명     0          78.708551
       1          21.291449
2명     0          79.382868
       1          20.617132
3명 이상  0          87.647059
       1          12.352941
Name: proportion, dtype: float64

In [ ]:
# prompt: 값이 99인 행을 모두 찾아라

# Find rows where the value in any column is 99
rows_with_99 = df[df.isin([99]).any(axis=1)]

# Display the rows
rows_with_99

Empty DataFrame
Columns: [성별, 연령, 지역, 직업, 소득, 학력, 주거형태, 결혼여부, 자녀수, 평일인터넷, 토요일인터넷, 일요일인터넷, 평일모바일, 토요일모바일, 일요일모바일, TV장르1, TV장르2, TV장르3, TV장르4, 국드장르1, 국드장르2, PPL구입여부, year]
Index: []

[0 rows x 23 columns]

In [ ]:
# prompt: year에 따라 성별의 구매여부가 달라지는가?

# Group by 'year' and '성별' and calculate the purchase rate
purchase_by_year_gender = df.groupby(['year', '성별'])['PPL구입여부'].value_counts(normalize=True) * 100

# Display the results
purchase_by_year_gender

<ipython-input-14-c5d76f704d48>:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  purchase_by_year_gender = df.groupby(['year', '성별'])['PPL구입여부'].value_counts(normalize=True) * 100

year  성별  PPL구입여부
2018  남   0          84.848485
          1          15.151515
      여   0          78.459990
          1          21.540010
2019  남   0          81.750742
          1          18.249258
      여   0          73.356926
          1          26.643074
Name: proportion, dtype: float64

### **왜 groupby가 데이터 분석에서 중요한지 생각해 보자!**
## **Data Aggregation --> 통계(統計)**
# **통계학을 등대에 비유하여 설명해 달라고 chatGPT에 물어보아라**
<img src='https://images.unsplash.com/photo-1536125434175-6c5657605fb0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bGlnaHRob3VzZXxlbnwwfHwwfHx8MA%3D%3D'>

In [ ]:
df.isnull().sum().sum()

np.int64(0)

In [ ]:
# prompt: df를 /content/drive/MyDrive/data/에 pickle로 저장하라

import pandas as pd

# Save the DataFrame to a pickle file
df.to_pickle('/content/drive/MyDrive/data/df.pkl')